<% content_for :title, 'CSV Upload Mapping' %>

<% content_for :breadcrumbs do %>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to 'Upload Manager', main_app.project_upload_manager_path(current_project) %>
      </li>
      <li class="breadcrumb-item active">CSV Upload Mapping</li>
    </ol>
  </nav>
<% end %>

<div class="content-container">
  <div class="alert alert-danger d-none" data-behavior="node-type-validation-message">
    A Node Label Type must be selected to import evidence records.
  </div>

  <%= form_with url: project_upload_index_path(current_project, format: :js), method: :post, data: { behavior: 'mapping-form' } do |f| %>
    <%= hidden_field_tag 'log_uid', @log_uid %>
    <%= hidden_field_tag 'job_id', params[:job_id] %>

    <table class="table table-striped mb-0"
      data-behavior="dradis-datatable"
      data-column-toggle="false"
      data-default-columns="<%= @default_columns %>"
      data-item-name="csv_item"
      data-paging="false"
      data-rtp-fields="<%= @rtp_fields.to_json %>"
    >
      <thead>
        <tr>
          <th class="no-sort">Unique Identifier <i class="fa fa-question-circle" data-toggle="tooltip" title="Ensure duplicate issues with this value are not created."></i></th>
          <th>Column Header From File</th>
          <th class="no-sort">Type</th>
          <th>Field in Dradis</th>
        </tr>
      </thead>
      <tbody>
        <% @headers.each_with_index do |header, index| %>
          <tr>
            <td>
              <div class="form-check">
                <%= f.radio_button 'identifier', index, class: 'form-check-input', data: { behavior: 'identifier' }, required: true %>
                <%= f.label :identifier, class: 'form-check-label' do %>
                  <span class="sr-only">Select</span>
                <% end %>
              </div>
            </td>
            <td><%= header %></td>
            <td>
              <div class="form-group m-0">
                <%= f.select "mappings[#{index}][type]", [['Issue Field', 'issue'], ['Evidence Field', 'evidence'], ['Node Label', 'node'], ['&#9472;'.html_safe, 'divider'], ['Do Not Import','skip']], { disabled: 'divider' }, class: 'form-control custom-select w-75', data: { behavior: 'type-select' } %>
              </div>
            </td>
            <td>
              <% if @rtp_fields %>
                <div class="form-group m-0">
                  <% options = @rtp_fields[:issue].any? ? options_for_select(@rtp_fields[:issue]) : options_for_select([['N/A', '']], disabled: '', selected: '') %>
                  <%= f.select "mappings[#{index}][field]", options, {}, class: 'form-control custom-select w-75', data: { behavior: 'field-select' } %>
                </div>
              <% else %>
                <span data-behavior="field-label"><%= header %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="form-actions">
      <%= f.submit 'Import CSV', class: 'btn btn-primary mr-1', data: { disable_with: false } %> or
      <%= link_to 'Cancel', main_app.project_upload_manager_path(current_project) %>
    </div>
  <% end %>
</div>

<div class="col-12 p-0 order-3 order-xxl-4">
  <div class="content-container mt-0">
    <h4 class="header-underline">Output console</h4>
    <div id="status"></div>
    <%= content_tag :div, id: 'result', style: 'display:none', data: { url: main_app.status_console_index_path }  do %>
      <div id="console" class="mx-0 mb-0"></div>
    <% end %>
  </div>
</div>
