<% content_for :title, 'CSV Upload Mapping' %>

<% content_for :breadcrumbs do %>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to 'Upload Manager', main_app.project_upload_manager_path(current_project) %>
      </li>
      <li class="breadcrumb-item active">CSV Upload Mapping</li>
    </ol>
  </nav>
<% end %>

<div class="content-container">
  <%= form_with url: project_upload_index_path(current_project), method: :post do |f| %>
    <table class="table table-striped mb-0"
      data-behavior="dradis-datatable"
      data-column-toggle="false"
      data-default-columns="<%= @default_columns %>"
      data-item-name="csv_item"
      data-paging="false"
    >
      <thead>
        <tr>
          <th class="no-sort">Unique Identifier <i class="fa fa-question-circle" data-toggle="tooltip" title="Ensure duplicate issues with this value are not created."></i></th>
          <th>Column Header From File</th>
          <th class="no-sort">Type</th>
          <th>Field in Dradis</th>
        </tr>
      </thead>
          <tbody>
            <% @headers.each_with_index do |header, index| %>
              <tr>
                <td>
                  <div class="form-check">
                    <%= f.radio_button 'identifier', index, class: 'form-check-input' %>
                    <%= f.label :identifier, class: 'form-check-label' do %>
                      <span class="sr-only">Select</span>
                    <% end %>
                  </div>
                </td>
                <td><%= header %></td>
                <td>
                  <div class="form-group m-0">
                    <%= f.select "mappings[#{index}][type]", [['Issue Field', 'issue'], ['Evidence Field', 'evidence'], ['Node Label', 'node']], {}, class: 'form-control custom-select w-75', data: { behavior: 'type-select' } %>
                  </div>
                </td>
                <td>
                  <% if current_project.report_template_properties %>
                    <div class="form-group m-0">
                      <%= f.text_field "mappings[#{index}][field]", class: 'form-control' %>
                    </div>
                  <% else %>
                    <span data-behavior="default-field-label"><%= header %></span>
                    <span data-behavior="na-field-label" class="d-none">N/A</span>
                  <% end %>
                </td>
              </tr>
            <% end %>
        </tbody>
    </table>
    <div class="form-actions">
      <%= f.submit 'Import CSV', class: 'btn btn-primary mr-1' %> or
      <%= link_to 'Cancel', main_app.project_upload_manager_path(current_project) %>
    </div>
  <% end %>
</div>
