<% content_for :title, 'CSV Upload Mapping' %>

<% content_for :breadcrumbs do %>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to 'Upload Manager', main_app.project_upload_manager_path(current_project) %>
      </li>
      <li class="breadcrumb-item active">CSV Upload Mapping</li>
    </ol>
  </nav>
<% end %>

<div class="content-container">
  <%= form_with url: project_upload_index_path(current_project), method: :post do |f| %>
    <table class="table table-striped mb-0"
      data-behavior="dradis-datatable"
      data-default-columns="<%= @default_columns %>"
      data-item-name="csv_item"
      data-local-storage-key="project.ce.<%= dom_id(current_project) %>.csv_mapping_datatable"
    >
      <thead>
        <tr>
          <th class="no-sort">Unique Identifier</th>
          <th>Column Header</th>
          <th>Type</th>
          <% if current_project.report_template_properties %>
            <th> Dradis Field </th>
          <% end %>
        </tr>
      </thead>
          <tbody>
            <% @headers.each_with_index do |header, index| %>
              <tr>
                <td>
                  <div class="form-check">
                    <%= f.radio_button 'identifier', index, class: 'form-check-input' %>
                    <%= f.label :identifier, class: 'form-check-label' do %>
                      <span class="sr-only">Select</span>
                    <% end %>
                  </div>
                </td>
                <td><%= header %></td>
                <td>
                  <div class="form-group m-0">
                    <%= f.select "mappings[#{index}][type]", ['Issue Field', 'Evidence Field', 'Node Label'], {}, class: 'form-control custom-select', data: { behavior: 'type-select' } %>
                  </div>
                </td>
                <% if current_project.report_template_properties %>
                  <td>
                    <div class="form-group m-0">
                      <%= f.text_field "mappings[#{index}][field]", class: 'form-control' %>
                    </div>
                  </td>
                <% end %>
              </tr>
            <% end %>
        </tbody>
    </table>
    <div class="form-actions">
      <%= f.submit 'Import CSV', class: 'btn btn-primary mr-1' %> or
      <%= link_to 'Cancel', main_app.project_upload_manager_path(current_project) %>
    </div>
  <% end %>
</div>
